header{
    background: rgb(20, 20, 20);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 25px;
    color: red;
    }

    img{
        height: 100%;
        width: 25%;
    }

    nav a{
        color: pink;
    }